*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear	
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/
.project

*.project
*.prefs
*.png

.idea/workspace.xml
core/.classpath
desktop/.classpath
core/assets/servers.txt
core/assets/wdserver/client.keys
core/assets/wdserver/server.keys
core/assets/wdserver/servers.txt
core/assets/wdserver/truststore
